<main>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>

    <button id="buttonScroll">
        <img src="/svg/scroll__top.svg">
    </button>
</main>
